.context-buttons {
    padding: 10px 15px;
    margin-left: 4rem;
    display: flex;
    justify-content: space-between;
    
    .prevButton {
        color: hsl(229, 7%, 68%);
        font-weight: 700;
        padding: 5px 15px;
        border-radius: 5px;
        opacity: 1;
        visibility: visible;
        cursor: pointer;

        &:hover {
            color: rgb(20, 7, 122);
            }
    }
    .nextButton {
        color: #fff;
        padding: 5px 15px;
        background-color: rgb(20, 7, 122);
        border-radius: 5px;
        cursor: pointer;

        &:hover {
                background-color: hsl(243, 100%, 62%);
            }
    }
}
.invisib {
    opacity: 0 !important;
    visibility: hidden;
}