.context-main__finishingUp {
    display: flex;
    flex-direction: column;
    height: 323px;
    height: 356px;
    margin-left: 4rem;
    &:last-child {
        margin-bottom: 46px;
    }

    .context-finishingUpPlan {
        display: flex;
        justify-content: space-between;
        width: 462px;
        height: 80px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        background-color: hsl(230deg, 23%, 95%);

        .finishingUpPlan {
            height: 80px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 20px;
            font-weight: 700;
            
            & a {
                color: hsl(229, 7%, 68%);
                font-weight: 400;
                margin-top: 5px;
                &:hover {
                    color: #000;
                }
            }
        }
        .finishingUpPlanSum {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 20px;
        }
    }
}
.finishingUpPlanLine {
    width: 90%;
    height: 1px ;
    z-index: 3;
    display: flex;
    justify-content: center;
    margin-left: 20px;
    background-color: hsl(229, 7%, 68%);
}
.bordBotNone {
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.finishingUpAddOns {
    display: flex;
    justify-content: space-between;
    width: 462px;
    height: 65px;
    margin-top: -1px;
    background-color: hsl(230deg, 23%, 95%);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    & span {
        margin: 20px;
    }
}

.finishingUpAddOnsTotal {
    display: flex;
    justify-content: space-between;
    width: 462px;
    height: 65px;
    margin-top: -1px;
    background-color: transparent;
    & span {
        margin: 20px;
    }
}
.hidden {
    display: none;
}

@media (max-width: 380px) {
    .finishingUpAddOns {
        width: 288px !important;
    }
    .finishingUpPlan {
        & a {
            margin-left: -76px;
        }
    }
    .context-finishingUpPlan {
        margin-top: 20px;
        width: 288px !important;
    }
    .finishingUpAddOnsTotal {
        width: 270px;
        & span {
                margin: 20px 0 0 20px;
            }
    }
    .finishingUpPlanLine {
        width: 82%;
    }
}