.main-block {
    display: flex;
    // background-color: #EEF5FF;
}
.side {
    flex: 0 0 320px;
}
.main-context {
    position: relative;
}
@media (max-width: 380px) {
    .main-block {
        flex-direction: column;
        background-color: #EEF5FF;
    }
    .main-context {
        width: 85%;
        // height: 350px;
        // height: auto;
        top: -180px;
        left: 24px;
        // border: 1px solid red;
        border-radius: 10px;
        background-color: #fff;
    }
}