.personalInfo-main {
    margin-left: 4rem;
}

.context-main {
    display: flex;
    flex-direction: column;
    & label {
        display: block;
        text-align: left;
        margin: 16px 0 -10px 0;
        color: rgb(192, 191, 191);
    }
    input {
        display: block;
        width: 447px;
        height: 40px;
        border-radius: 7px;
        border: 1px solid hsl(229, 7%, 68%);
        padding-left: 10px;
        
        &:focus {
            outline: none;
            border: 2px solid hsl(228, 45%, 44%);
        }
        &:last-child{
            margin-bottom: 100px;
        }
    }
}