.context {
    max-height: 600px;
    text-align: left;
    margin-top: 3rem;
    margin-left: 4rem;

    .context-main__addons {
        display: flex;
        flex-direction: column;
        &:last-child {
            margin-bottom: 78px;
        }
    }

    .context-addons {
        margin-bottom: 15px;
        display: flex;
        justify-content: space-between;
        width: 460px;
        height: 80px;
        border-radius: 10px;
        border: 1px solid hsl(228, 45%, 44%);
        display: grid;
        grid-template-columns: 78px 300px 100px;
        grid-template-rows: 80px;
        .check {
            grid-column: 1 / 2;
            grid-row: 1;
        }
        & .context-addons__title {
            grid-column: 2 / 3;
            grid-row: 1;
            font-size: 16px;
            font-weight: 700;
            margin-top: 20px;
        }
        & p {
            margin: 0;
            padding: 0;
            grid-column: 2 / 3;
            grid-row: 1;
            font-size: 15px;
            color: hsl(229, 7%, 68%);
            margin-top: 40px;
        }
        & .context-addons__text {
            grid-column: 3 / 4;
            grid-row: 1;
            font-size: 14px;
            color: hsl(243, 100%, 62%);
            display: flex;
            align-items: center;
        }
        
    }
}
/* === Theme ============================================================================================== */
.material-checkbox {
    padding-left: 60px;
    margin-bottom: 1em;
    color: rgba(0, 0, 0, 0.54);
}

.material-checkbox__image {
    box-sizing: border-box;

    width: 20px;
    height: 20px;

    margin-left: -30px;
    margin-top: 15px;

    border: 2px solid currentColor;
    border-radius: 2px;

    transition: background-color .5s, border-color .5s;
    cursor: pointer;
}

.material-checkbox__image::before {
    box-sizing: border-box;
    background-color: transparent;
    border-radius: 50%;
    content: "";
    position: absolute;
    display: block;
    height: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    transition: all .5s;
    width: auto;
}

.material-checkbox__label {
    vertical-align: middle;
    color: rgba(0, 0, 0, 0.87);

    cursor: pointer;
}

.material-checkbox__input:focus+.material-checkbox__image::before {
    background-color: rgb(255, 255, 255) !important;
    left: -8px;
    top: -8px;
    right: -8px;
    bottom: -8px;
}

.material-checkbox__input:disabled+.material-checkbox__image,
.material-checkbox__input:disabled+.material-checkbox__image+.material-checkbox__label {
    cursor: default;
    color: rgba(0, 0, 0, 0.38);
}

.material-checkbox__input:checked+.material-checkbox__image {
    background-color: hsl(243, 100%, 62%);
    border-color: rgba(0, 0, 0, 0);
}

.material-checkbox__input:checked+.material-checkbox__image.md-ink-ripple {
    background-color: rgba(255, 82, 82, 0.87);
    border-color: rgba(0, 0, 0, 0);
}

.material-checkbox__input:checked+.material-checkbox__image::after {
    border-color: rgba(255, 255, 255, 0.87);
    box-sizing: border-box;
    transform: rotate(45deg);
    position: absolute;
    left: 4.6666px;
    top: 0.2222px;
    display: table;
    width: 6.66667px;
    height: 13.33333px;
    border-width: 2px;
    border-style: solid;
    border-radius: 0;
    border-top: 0;
    border-left: 0;
    content: "";
}

.material-checkbox__input:checked+.material-checkbox__image::before {
    background-color: rgba(16, 108, 200, 0.26);
}

.material-checkbox__input:checked+.material-checkbox__image.md-ink-ripple::before {
    background-color: rgba(255, 82, 82, 0.26);
}

.material-checkbox__input:checked:disabled+.material-checkbox__image {
    background-color: rgba(0, 0, 0, 0.38);
}

.material-checkbox__input:checked:disabled+.material-checkbox__image::before {
    display: none;
}

.material-checkbox__input_indeterminate+.material-checkbox__image::after {
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: table;
    width: 12px;
    height: 2px;
    border-width: 2px;
    border-style: solid;
    border-top: 0;
    border-left: 0;
    content: "";
}