.titleContext {
    height: 65px;
    text-align: left;
    margin-top: 3rem;
    margin-left: 4rem;
    margin-bottom: 1rem;

    .titleContext-block {
        color: hsl(227, 46%, 17%);
        padding: 0;
        margin-bottom: 1.6rem;

        h1 {
            margin-bottom: 10px;
        }

        span {
            color: hsl(229, 7%, 68%);
        }
    }
}